cdp_portal/node_modules/
cdp_portal/.next/
cdp_portal/build
cdp_portal/.env*
cdp_portal/.vercel


backend/.env
backend/uploads/
backend/app/uploads/
venv/
backend/temp.py
backend/app/__pycache__
backend/app/routes/__pycache__
backend/app/services/__pycache__
backend/app/utils/__pycache__
backend/main.py



